include LICENSE
include README.rst
include requirements.txt
include test-requirements.txt
recursive-include cgsa/data *
prune cgsa/data/models
global-exclude */.*
recursive-include cgsa *.py
prune data
